body {
    padding: 8px;
    direction: rtl;
    font-display: swap;
    font-family: IRANSansMobile-fa,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
    text-decoration: none;
    margin: 24px 8px;
    font-size: 1.3rem;
}
a::after {
    content: '‌';
}

h1, h2, h3 {
    min-height: 50px;
}

* {
    line-height: 1.5;
}